* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: white;
}

header {
  width: 100%;
  height: 100px;
  background-color: #4c9fff;
  background-image: url(../img/pattern.png);
  background-size: 30%;
}

main {
  margin-top: 15px;
}

h1 {
  font-size: 38px;
  line-height: 40px;
}

.highlight {
  background-color: #ffff00;
}

.container {
  width: 85%;
  margin: auto;
}

.logo {
  height: 50px;
  margin-top: 40px;
}

.author {
  color: #949494;
  font-size: 16px;
}

.author-name {
  color: #23a9e5;
}

.date {
  color: #949494;
  font-size: 12px;
}

.photo,
.content {
  margin-top: 20px;
}

.photo .caption {
  font-size: 10px;
}

/* .content {
  font-size: 10px;
} */

.content ul {
  margin-top: 20px;
  margin-left: 15px;
  margin-bottom: 20px;
}

.content table {
  text-align: left;
  border-spacing: 0;
  margin-bottom: 20px;
}

.content table thead {
  background-color: #23a9e5;
  color: white;
}

.content table th.text {
  width: 50%;
}

.content table tr.odd {
  background-color: #b1e5f2;
}

footer {
  margin-top: 20px;
}

footer h4 {
  color: #949494;
}

footer .image {
  width: 230px;
  height: 160px;
  margin: 10px 0;
  background-size: cover;
}

footer h3 {
  color: white;
  margin: 15px 0 0 15px;
}

#image-monitor {
  background-image: url(../img/monitor.jpg);
}

#image-graph {
  background-image: url(../img/graph.jpg);
}
